
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Me Profile card || Learning Robo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <body>
    
    <div class = "about-wrapper">
      <div class = "about-left">
        <div class = "about-left-content">
          <div>
       

            <h2>Nawress RAFRAFI</h2>
            <h3>IT Trainer Spring/Angular | DevOps</h3>
          </div>

          <ul class = "icons">
            <li><a href="https://www.facebook.com/nawress.rafrafi/"><i class = "fab fa-facebook-f" ></i></a></li>
            <li><a href="https://www.linkedin.com/in/nawress-rafrafi/"><i class = "fab fa-linkedin"></i></a></li>
          </ul>
        </div>
        
      </div>

      <div class = "about-right">
        <h1>Hello<span>!</span></h1>
        <div class = "about-btns">
          <a href="https://github.com/RafrafiNawress"> <button type = "button" class = "btn btn-white">Git hub</button></a>
        </div>

        <div class = "about-para">
          <p>Follow the link to my GitHub profile to access a collection of my coding projects and open-source contributions.</p>
        </div>
         <span style="color:tomato">-------- ❤ --------</span>
      </div>
    </div>
  </body>
</html>
